<h1><%=@blogger.name%></h1>
<h3>Age: <%=@blogger.age%></h3>
<h3>Bio: <%=@blogger.bio%></h3>

<% @blogger.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post)%>
    Likes: <%=post.likes%></li>
    <%end%>
