<h1><%=@post.title%></h1>
<h3>Destination: <%=link_to @post.destination.name, destination_path(@post.destination)%></h3>
<h3>Blogger: <%=link_to @post.blogger.name, blogger_path(@post.blogger)%></h3>
<h3>Number of Likes: <%=@post.likes%></h3>
<p>Content: <%=@post.content%></p>